 $bg-color: #FFF;

html,body {
  height: 100%;
}

#wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $bg-color;
}

.App {
  margin: 0 auto;
  width: 960px;
  height: 50%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFF;
  text-align: center;
}

#quote-box {
  height: 100%;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3544FF;
  color: white;
  padding: 20px;

  #text {
      font-size: 1.6em;
      height: 125px;
      padding-top: 25px;
  }

  #author {
      font-size: 1.0em;
      font-weight: 500;
  }

  #tweet-quote {
    color: white;
    text-decoration: underline;
  }

  button {
    margin: 10px;
  }
}
